---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import OffreLancement from "../components/OffreLancement.astro";
import Presentation from "../components/Presentation.astro";
import Services from "../components/Services.astro";
import Hygiene from "../components/Hygiene.astro";
import ScrollShowcaseSection from "../components/ScrollShowcaseSection.astro";
import Avis from "../components/Avis.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Mobil Clean - Nettoyage professionnel voiture, matelas, canapé"
  description="Mobil Clean intervient chez vous pour le nettoyage professionnel de voitures, matelas et canapés. Service mobile, résultat garanti, 7j/7."
>
  <Header />
  <main>
    <Hero />
    <OffreLancement />
    <Presentation />
    <Services />
    <Hygiene />
    <ScrollShowcaseSection />
    <Avis />
    <CTA />
  </main>
  <Footer />
</Layout>
